

*, *:before, *:after {
    box-sizing: border-box;
}

html {
    margin:0;
    padding: 0;
    min-height: 100vh;
}

body {
    height: 100%;
}

.App, #root {
    height: 100%;
}

.App {
    display: flex;
    flex-direction: column;
}

main {
    height: 100%;
}

.bg {
    /* position: absolute; */
    width: 100%;
    height: 1000px;
    object-fit: cover;
    object-position: center;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.header {
    background: black;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    position: relative;
    
   
}

.logo {
    height: 100px;
}

.list {
    display: flex;
}
.list li{
    padding-right: 2rem;
}

.list li:hover{
    color:blueviolet
}

.list li a {
    text-decoration: none;
    color: white;
    font-size: 1.8rem;
}

.list li a:hover{
    color:hsl(36, 78%, 52%,); 
}

.list li a:visited {
    color: white;
}
/*
footer
*/


.footer {
    display: flex;
    flex-direction: column;
    background: black;
    padding: 2rem;
    color:white;
    text-align: center;
    z-index: 40;
    
}

.socials {
    display: flex;
    margin-bottom: 1rem;
    justify-content: center;
}

.facebook {
    padding-right: 2rem;
}

.cardList  {
     position: absolute; 
     z-index: 1; 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 70px;
}

/*

card bodega
*/


.card {
    display: flex;
    flex-direction: column;
    background:hsl(36, 78%, 52%,.8) ;
    padding: 1.5rem;
    flex-shrink: 0;
    margin: 3rem;
    width:25%;
    min-width: 300px;
    border-radius: 8px;
    height: 420px;

}

.cardHeader {
    display: flex;
    flex-direction: column-reverse;
    gap:4px;
}

.cardHeader p{
    width: 80%;
}

.cardLogo{
    border-radius: 5px;
    border: 1px solid hsl(0, 0%, 100%,.5)
}

.cardDescription{
    margin-top: 9px;
}

.cardFooter{
    padding: 15px;
    display: flex;
    flex-direction: row-reverse;
}

.cardFooter button{
    padding: 5px 20px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
}

/*
card Product
*/


.containerProducts{
    display: flex;
}

.cardProduct{
    display: flex;
    flex-direction: column;
    align-items: center;
    background:hsl(36, 78%, 52%,.8) ;
    padding: 1.5rem;
    flex-shrink: 0;
    margin: 3rem;
    width:25%;
    min-width: 300px;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
}

.cardLogoProduct{
    height: 250px;
    border-radius: 8px;
}

.nameProduct{
    font-size: 22px;
    padding-bottom: 10px;
}

.butonProduct{
    padding: 10px 20px;
    border-radius: 9px;
    margin-top: 12px;
}

.cardDescriptionprice{
    text-align: start;
    padding: 8px;
    font-size: 19px;
}