<header>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="./Assets/logo.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
            Ecovinos
        </a>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Contacto</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Bodegas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Inicio</a>
            </li>
        </ul>
    </nav>
</header>
